:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-section + .demo-section {
  margin-top: 16px;
}


.info-header {
  color: #478efc;
}

.table-item {
  border-bottom: 1px solid rgba(black, 0.1) !important;
}


.fade-in {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}
