// *{
//     border: black 1px solid;
// }

$breakpoint-phone: 481px;
$breakpoint-tablet: 769px;

.hover {
  &:hover {
    cursor: pointer;
    color: #478efc !important;
  }
}



.text-theme-primary {
  color: #478efc;
}

.filler {
  height: 0.2vh;
  background-color: rgb(182, 182, 182);
  width: 8%;
}

.form-container {
  width: 100%;
  background-color: #f4f3f4;
  border-radius: 1rem;
  label {
    font-size: 1rem;
  }
}

  .table-container {
    overflow: auto;
    max-height: 60vh;
  }

  a {
    color: inherit; /* Remove default link color */
    text-decoration: none; /* Remove underline */
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }

  .btn-primary-theme {
    background-color: #478efc;
    color: #f4f3f4;
  }

  .btn-secondary-theme {
    background-color: #c5c3c5;
    color: black;
  }

  .btn-outline-primary-theme {
    border: #478efc 0.1px solid;
    color: #478efc;
  }

  th {
    font-weight: 900;
  }

  td {
    span {
      display: inline-block;
      width: 100%;
    }
  }

  .bi-chevron-up,
  .bi-chevron-down {
    &:hover {
      cursor: pointer;
    }
  }

  .d-block {
    width: 5vw;
  }

  .campaign-name {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .border-round {
    border-radius: 1rem;
  }

  .green-badge {
    background-color: #bdeacd;
  }
  .blue-badge {
    background-color: #b7cdfd;
  }
  .grey-badge {
    background-color: #d4d2d4;
  }


@media (max-width: #{$breakpoint-phone}) {
  .form-container {
    width: 100%;
    background-color: #f4f3f4;
    border-radius: 1rem;
    label {
      font-size: 0.8rem;
    }
  }
  th {
    font-size: 0.8rem;
  }
  td {
    font-size: 0.7rem;
  }
}
