$breakpoint-phone: 481px;
$breakpoint-tablet: 769px;

section {
  .hover {
    &:hover {
      cursor: pointer;
      color: #478efc !important;
    }
  }

  .table-container {
    overflow: auto;
    max-height: 60vh;
    a {
      color: inherit; /* Remove default link color */
      text-decoration: none; /* Remove underline */
      transition: all 0.3s ease-in-out;
      span:hover {
        cursor: pointer;
      }
    }
    .Completed {
      padding: .6rem;
      border-radius: 1rem;
      background-color: #bdeacd;
    }
    .Scheduled {
      padding: .6rem;
      border-radius: 1rem;
      background-color: #b7cdfd;
    }
    .Draft {
      padding: .6rem;
      border-radius: 1rem;
      background-color: #d4d2d4;
    }
  }

  @media (max-width: #{$breakpoint-phone}) {
    th {
      font-size: 0.8rem;
    }
    td {
      font-size: 0.7rem;
    }
  }
}
