<!-- sidebar navigation menu -->

<nav class="sidebar">
  <a href="#" routerLinkActive="active"> 
    <mat-icon  aria-label="Example account_circle icon" fontIcon="account_circle"></mat-icon>
  </a>
  <a href="#" class="dashboard" routerLinkActive="active">
    <mat-icon aria-label="Example dashboard icon" fontIcon="dashboard"></mat-icon>

     </a
  ><a href="#" routerLinkActive="active">
    <mat-icon aria-label="Example bar-chart icon" fontIcon="bar_chart"></mat-icon>

  </a>

  <!-- link to campaign page -->
  <a routerLink="/campaign" routerLinkActive="active"> 
    <mat-icon aria-label="Example megaphone icon" fontIcon="campaign"></mat-icon>

  </a>
  
  <a href="#" routerLinkActive="active">
    <mat-icon aria-label="Example people icon" fontIcon="people"></mat-icon>
  </a>

  <mat-icon aria-label="Example east icon" fontIcon="east" class="mt-auto d-none d-lg-block"></mat-icon>
</nav>
