<div class="container d-flex justify-content-center align-items-center mt-5 pt-5">
    <mat-card class="d-flex flex-column justify-content-center align-items-center">
        <mat-card-content>
            <h1>Sign Up</h1>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" ngModel #name="ngModel" name="name"  required >
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" ngModel #email="ngModel" name="email" email required >
                </mat-form-field>
                <span class="text-danger mb-3" *ngIf="email.invalid && email.touched">Invalid Email</span>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" ngModel name="password"  password required>
                </mat-form-field>      
                <p class="text-danger" *ngIf="invalidPassword">Invalid Email or Password</p>   
                <p class="text-danger" *ngIf="invalidEmail">Email does not exist</p>       
                <button mat-raised-button  [disabled]="f.invalid">Submit</button>
            </form>
            <p class="mt-3">
                Already have an account? <a href="login">Sign In</a>
            </p>
        </mat-card-content>
    </mat-card>
</div>