<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <mat-icon fontIcon="account_circle"></mat-icon>
      &nbsp;Profile
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        class="d-flex justify-content-center align-items-center"
        routerLink="/"
      >
        <mat-icon matListItemIcon fontIcon="dashboard"></mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        class="d-flex justify-content-center align-items-center"
        routerLink="/"
      >
        <mat-icon matListItemIcon fontIcon="bar_chart"></mat-icon>
        <span matListItemTitle>Analytics</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        class="d-flex justify-content-center align-items-center"
        routerLink="campaign"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon fontIcon="campaign"></mat-icon>
        <span matListItemTitle>Campaign</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        class="d-flex justify-content-center align-items-center"
        routerLink="/"
      >
        <mat-icon matListItemIcon fontIcon="people"></mat-icon>
        <span matListItemTitle>Audience</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ANGULAR CAMPAIGN </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
